.door-wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.door, .door-back {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 60vw;
    transform: translate(-50%, -50%);
}
.door {
    z-index: 10;
    transition: 3s;
    transform: translate(-50%, -50%);
    transform-origin: right;
}