<div>
<div id="editor" style="height: 400px"></div>
<button onclick='submit();' style="width:100%;font-size:50px">実行</button>
<p id="result" style="font-size:50px;text-align:center;"></p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/solarized_light");
  editor.setFontSize(30);
  editor.getSession().setMode("ace/mode/python");
  editor.getSession().setUseWrapMode(true);
  editor.getSession().setTabSize(4);

  function submit() {
    var fData = new FormData();
    fData.append("submitted_script", editor.getValue());
    $('#result').text('通信中...');
    $.ajax({
          url: '/test',
          type: 'POST',
          data: fData ,
          contentType: false,
          processData: false,
          success: function(data, dataType) {
              console.log('Success');
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log('Error : ' + errorThrown);
          }
    }).done(function(data) {
       $('#result').text(data);
       console.log(data);
    }).fail(function() {
      console.log("Failed")
    });
  }
</script>
</div>
