<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Check python script</title>
</head>
<body>
  <div id="editor" style="height: 600px"></div>
  <button onclick='submit();'>Submit</button>
  <p id="result"></p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/cobalt");
    editor.setFontSize(14);
    editor.getSession().setMode("ace/mode/python");
    editor.getSession().setUseWrapMode(true);
    editor.getSession().setTabSize(4);

    function submit() {
      var fData = new FormData();
      fData.append("submitted_script", editor.getValue());
      $('#result').text('通信中...');
      $.ajax({
            url: '/test',
            type: 'POST',
            data: fData ,
            contentType: false,
            processData: false,
            success: function(data, dataType) {
                console.log('Success');
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log('Error : ' + errorThrown);
            }
      }).done(function(data) {
         $('#result').text(data);
         console.log(data);
      }).fail(function() {
        console.log("Failed")
      });
    }
  </script>
</body>
</html>
