{% extends "layout.html" %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/door.css') }}">
<div class="door-wrap">
    <img src="{{ url_for('static', filename='images/doors.png')}}" alt="ドア" class="door">
    <img src="{{ url_for('static', filename='images/door_back.png')}}" alt="ドアの縁" class="door-back">
</div>
<script src="{{ url_for('static', filename='js/door.js') }}"></script>
{% endblock %}