<div>
<script src="{{ url_for('static', filename='js/obj.js')}}"></script>
<div style="position:relative;" >
    <img src="{{ url_for('static', filename='images/background.jpg')}}"
     width="100%" height="100%" border="0">
  <div class="obj" style="width:20%;height:20%;position:absolute;top:10%;left:10%;" onclick=showalert('出力はprint()')>
    <img src="{{ url_for('static', filename='images/desk.png')}}" 
     width="100%" height="140%">
  </div>
  <div class="obj" style="width:20%;height:20%;position:absolute;top:50%;left:50%;" onclick=showalert('helloworldを出力せよ！！')>
    <img src="{{ url_for('static', filename='images/door.jpg')}}" 
     width="100%" height="250%">
  </div>
</div>
</div>
